<div class="home">
    <div id="container">
        <main>
            <div class="c2">
                <div class="main">
                    <h2 translate>research</h2>
                    <h3>FY2021</h3>
                    <h4 translate>research-2021</h4>
                    <a href="https://hdl.handle.net/11094/85627" translate>research-2021-content</a>
                    <p translate>research-2021-researcher</p>
                    <p translate>research-2021-advisor</p>
                    <h3>FY2022</h3>
                    <h4 translate>research-2022</h4>
                    <a href="https://arxiv.org/abs/2306.13894" translate>research-2022-content</a>
                    <p translate>research-2022-author</p>
                    <h3>FY2023</h3>
                    <h4 translate>research-2023</h4>
                    <a translate>research-2023-content</a>
                    <p translate>research-2023-author</p>
                    <h3>FY2024</h3>
                    <h4><a translate href="https://robomech.org/2024/">robomech-2024</a></h4>
                    <a translate>research-2023-content</a>
                    <p translate>robomech-2024-author</p>
                    <h3>FY2025</h3>
                    <h4><a translate href="https://robomech.org/2025/">robomech-2025</a></h4>
                    <a translate>research-2025-content</a>
                    <p translate>robomech-2025-author</p>
                    <!-- <p translate>under-construction</p> -->

                </div>
            </div>
        </main>
    </div>
</div>
<div style="margin-bottom: 300px;"></div>