<div class="home">
    <div id="container">
        <main>
            <div class="c2">
                <div class="main">
                    <h2 translate>research</h2>
                    <h3>2021</h3>
                    <h4 translate>research-2021</h4>
                    <a href="https://hdl.handle.net/11094/85627" translate>research-2021-content</a>
                    <p translate>research-2021-researcher</p>
                    <p translate>research-2021-advisor</p>

                    <!-- <p translate>under-construction</p> -->

                </div>
            </div>
        </main>
    </div>
</div>
<div style="margin-bottom: 300px;"></div>