<div class="home">
    <div id="container">
        <main>
            <div class="c2">
                <div class="main">
                    <h2 translate>contact</h2>
                    <h3>mail</h3>
                    <label translate>mail-research</label>
                    <p>t.nishimura@hlab.sys.es.osaka-u.ac.jp</p>
                    <label translate>mail-general</label>
                    <p>hbvcg00@gmail.com</p>

                    <h3>link</h3>
                    <a href="https://www.roboticmanipulation.org/" translate>harada-lab</a><br />
                    <a href="https://sys.es.osaka-u.ac.jp/" translate>osaka-univ-engineering-science-system-science</a>
                </div>
            </div>
        </main>
    </div>
</div>
<div style="margin-bottom: 300px;"></div>