<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <a mat-flat-button color="primary" (click)="gotoTop()">
            <h1>{{ title }}</h1>
        </a>
        <button mat-flat-button color="primary" (click)="goToProfile()">profile</button>
        <button mat-flat-button color="primary" (click)="gotoResearch()">research</button>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-flat-button color="primary" (click)="changeLang('ja')">日本語</button>
        <button class="example-icon" mat-flat-button color="primary" (click)="changeLang('en')">EN</button>
    </mat-toolbar-row>
</mat-toolbar>