<div class="home">
  <div id="container">
    <main>
      <div class="c2">
        <div class="main">
          <h2>自己紹介</h2>
          <img src="../../assets/img/1664610744865.jpg" alt="僕" width="50%" height="50%" style="margin-bottom: 10px;" />
          <!-- profile -->
          <table class="ta1">
            <tr>
              <td>名前</td>
              <td>西村樹希</td>
            </tr>
            <tr>
              <td>所属</td>
              <td>大阪大学基礎工学部システム科学科原田研究室</td>
            </tr>
            <tr>
              <td>学年</td>
              <td>B4</td>
            </tr>
            <tr>
              <td>出身地</td>
              <td>富山県富山市</td>
            </tr>
            <tr>
              <td>高校</td>
              <td>富山県立富山中部高等学校</td>
            </tr>
          </table>
          <!-- profile -->
          <br />

          <!-- life -->
          <h2>経歴</h2>
          <table class="ta1">
            <tr>
              <td>2001.9</td>
              <td>生誕</td>
            </tr>
            <tr>
              <td>2020.3</td>
              <td>富山県立富山中部高等学校普通科卒業</td>
            </tr>
            <tr>
              <td>2020.4</td>
              <td>大阪大学基礎工学部システム科学科入学</td>
            </tr>
            <tr>
              <td>2023.4</td>
              <td>原田研究室に配属</td>
            </tr>
          </table>
          <!-- life -->
          <br />

          <!-- hobby -->
          <h2>趣味、特技など</h2>
          <table class="ta1">
            <tr>
              <td style="font-weight: bold">サークル</td>
              <td>大阪大学ロボット制作団体Robohan</td>
              <td><a href="https://www.robohan.net/" style="color: black;">リンク</a></td>
            </tr>
            <tr>
              <td colspan="3">
                一言 : 制御長として活躍し、NHK学生ロボコン2022に向けて活動した。
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold">サークル2</td>
              <td>OUXT-Polaris</td>
              <td><a href="https://www.ouxt.jp/" style="color: black;">リンク</a></td>
            </tr>
            <tr>
              <td colspan="3">
                一言 : ROS2を使って船の自律走行の大会への出場を目指す。
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold">アルバイト</td>
              <td>生協システム開発、ロボットベンチャー、ロボット教室</td>
            </tr>
            <tr>
              <td colspan="3">
                一言 : プログラミングやロボット系のアルバイトに従事。
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold">スキル</td>
              <td>
                ROS1, ROS2, C++, Python, TypeScript, HTML, <br />
                Angular, Django, Arduino, Raspberry Pi, Mbed<br />
                Shell, Git, GitHub など
              </td>
            </tr>

            <tr>
              <td style="font-weight: bold">趣味</td>
              <td>料理、旅行、ものづくり、スポーツ観戦、音楽鑑賞など</td>
            </tr>
          </table>
          <!-- hobby -->
        </div>
      </div>
    </main>
  </div>


</div>