<div class="home">
  <div id="container">
    <main>
      <div class="c2">
        <div class="main">
          <h2 translate>introduction</h2>
          <img src="../../assets/img/1664610744865.jpg" alt="僕" width="50%" height="50%" style="margin-bottom: 10px;" />
          <!-- profile -->
          <table class="ta1">
            <tr>
              <td translate>name</td>
              <td translate>TatsukiNishimura</td>
            </tr>
            <tr>
              <td translate>affiliation</td>
              <td translate>affiliation-content</td>
            </tr>
            <tr>
              <td translate>graded</td>
              <td translate>graded-content</td>
            </tr>
            <tr>
              <td translate>original</td>
              <td translate>original-content</td>
            </tr>
            <tr>
              <td translate>highschool</td>
              <td translate>highschool-content</td>
            </tr>
          </table>
          <!-- profile -->
          <br />

          <!-- life -->
          <h2 translate>career</h2>
          <table class="ta1">
            <tr>
              <td>2001.9.7</td>
              <td translate>profile-birthday</td>
            </tr>
            <tr>
              <td>2020.3</td>
              <td translate>graduate-highschool</td>
            </tr>
            <tr>
              <td>2020.4</td>
              <td translate>enter-university</td>
            </tr>
            <tr>
              <td>2023.4</td>
              <td translate>assign-lab</td>
            </tr>
          </table>
          <!-- life -->
          <br />

          <!-- hobby -->
          <h2 translate>hobby-and-skill</h2>
          <table class="ta1">
            <tr>
              <td style="font-weight: bold" translate>club</td>
              <td translate>robohan</td>
              <td><a href="https://www.robohan.net/" style="color: black;" translate>link</a></td>
            </tr>
            <tr>
              <td colspan="3" translate>
                club-comment
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold" translate>club</td>
              <td>OUXT-Polaris</td>
              <td><a href="https://www.ouxt.jp/" style="color: black;" translate>link</a></td>
            </tr>
            <tr>
              <td colspan="3" translate>
                ouxt-comment
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold" translate>part-time-jobs</td>
              <td translate>part-time-jobs-content</td>
            </tr>
            <tr>
              <td colspan="3" translate>
                part-time-jobs-comment
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold" translate>skill</td>
              <td>
                ROS1, ROS2, C++, Python, TypeScript, HTML,Angular,<br>
                Django, Arduino, Raspberry Pi, Mbed, Shell, Git, GitHub
              </td>
            </tr>

            <tr>
              <td style="font-weight: bold" translate>hobby</td>
              <td translate>hobby-content</td>
            </tr>
          </table>
          <!-- hobby -->
        </div>
      </div>
    </main>
  </div>


</div>