<div fxLayoutAlign="center">
    <h2>About Me</h2>
</div>

<div class="flex" fxLayoutAlign="center">
    <img class="myface" src="assets/img/myface.jpeg" alt="myface" width="200" height="200">
    <div class="right">
        <h4 class="subtitle">Name</h4>
        <p>Nishimura Tatsuki</p>
        <h4 class="subtitle">Affiliation</h4>
        <p>Osaka University School of Engineering Science <br>Department of System Science Course of Intelligent Systems
            Science</p>
        <h4 class="subtitle">Email</h4>
        <p>hbvcg00@gmail.com</p>
        <h4 class="subtitle">links</h4>
        <ul>
            <li> <a href="https://github.com/TatsukiNishimura">Github</a></li>
            <li> <a href="https://twitter.com/hbvcg0">Twitter</a></li>
            <li> <a href="https://qiita.com/hbvcg00">Qiita</a></li>
        </ul>
    </div>
</div>

<div fxLayoutAlign="center">
    <h2>Interests</h2>
</div>

<div class="flex" fxLayoutAlign="center">
    <img class="myRobot" src="assets/img/MyRobot.jpg" alt="myRobot" width="25%" height="25%">
    <div class="right">
        <h4 class="subtitle" style="margin-top: 15px;">Robotics</h4>
        <ul>
            <li style="line-height: 30px;">C++</li>
            <li style="line-height: 30px;">Python</li>
            <li style="line-height: 30px;">ROS1/ROS2</li>
            <li style="line-height: 30px;">Mbed</li>
            <li style="line-height: 30px;">Arduino</li>
            <li style="line-height: 30px;">RaspberryPi</li>
        </ul>
    </div>
    <div class="right" style="margin-left: 30px;">
        <h4 class="subtitle" style="margin-top: 15px;">Web</h4>
        <ul>
            <li style="line-height: 30px;">Angular</li>
            <li style="line-height: 30px;">Django REST Framework</li>
            <li style="line-height: 30px;">HTML</li>
            <li style="line-height: 30px;">TypeScript</li>
        </ul>
    </div>
</div>