<div class="home">
    <header>
        <div id="logo">
            <h1 style="color:white;font-size: 40px;">
                Tatsuki Nishimura's page
            </h1>
            <p i18n style="color:white;font-size: 15px;">
                大阪大学基礎工学部システム科学科原田研究室所属 西村樹希のウェブサイトです。
            </p>
        </div>

        <div id="mainimg">
            <img src="../../assets/img/background.png" alt="">
        </div>
    </header>
    <div class="c2">
        <div class="main">
            <section>
                <h2 translate>top-page-greet</h2>
                <p i18n>
                    このホームページでは自己紹介や研究内容について掲載しています。
                </p>
            </section>
            <section>
                <h2>News</h2>
                <dl id="new">
                    <dt>2023/04/13<span i18n>お知らせ</span></dt>
                    <dd i18n>ホームページ開設</dd>
                </dl>

            </section>
        </div>
    </div>
    <!--/.c2-->
</div>