.flex {
  display: flex;
}

.flex .myface {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
}
.flex .myRobot {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -200px;
}

.flex .myRobot-description {
  font-size: smaller;
}

.flex .right {
  margin: 0 0 0 10px;
  padding: 0;
}

.flex .subtitle {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
}

.works {
  margin-top: 10px;
}
