<div fxLayoutAlign="center">
    <h2>About Me</h2>
</div>

<div class="flex" fxLayoutAlign="center">
    <img class="myface" src="assets/img/myface.jpeg" alt="myface" width="200" height="200">
    <div class="right">
        <h2 class="subtitle">Name</h2>
        <p class="paragraph">Nishimura Tatsuki</p>
        <h2 class="subtitle">Affiliation</h2>
        <p class="paragraph">
            Osaka University School of Engineering Science <br>Department of System Science Course of
            Intelligent Systems
            Science</p>
        <h2 class="subtitle">Email</h2>
        <p class="paragraph">hbvcg00@gmail.com</p>
        <h2 class="subtitle">links</h2>
        <ul>
            <li class="paragraph"> <a href="https://github.com/TatsukiNishimura">Github</a></li>
            <li class="paragraph"> <a href="https://twitter.com/hbvcg0">Twitter</a></li>
            <li class="paragraph"> <a href="https://qiita.com/hbvcg00">Qiita</a></li>
        </ul>
    </div>
</div>

<div fxLayoutAlign="center">
    <h2>Interests</h2>
</div>

<div class="flex" fxLayoutAlign="center">
    <img class="myRobot" src="assets/img/MyRobot.jpg" alt="myRobot" width="25%" height="25%">
    <div class="right">
        <h2 class="subtitle" style="margin-top: 15px;">Robotics</h2>
        <ul>
            <li class="paragraph" style="line-height: 30px;">C++</li>
            <li class="paragraph" style="line-height: 30px;">Python</li>
            <li class="paragraph" style="line-height: 30px;">ROS1/ROS2</li>
            <li class="paragraph" style="line-height: 30px;">Mbed</li>
            <li class="paragraph" style="line-height: 30px;">Arduino</li>
            <li class="paragraph" style="line-height: 30px;">RaspberryPi</li>
        </ul>
    </div>
    <div class="right" style="margin-left: 30px;">
        <h2 class="subtitle" style="margin-top: 15px;">Web</h2>
        <ul>
            <li class="paragraph" style="line-height: 30px;">Angular</li>
            <li class="paragraph" style="line-height: 30px;">Django REST Framework</li>
            <li class="paragraph" style="line-height: 30px;">HTML</li>
            <li class="paragraph" style="line-height: 30px;">TypeScript</li>
        </ul>
    </div>
</div>


<div fxLayoutAlign="center" class="works">
    <h2>Work</h2>
</div>
<div class="flex" fxLayoutAlign="center">
    <table class="table table-striped" style="table-layout: fixed;width: 50%;">
        <thead>
            <tr>
                <th scope="col" style="width: 15%;">Year</th>
                <th scope="col">Content</th>
                <th scope="col" style="width: 15%;">link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">2020~</th>
                <td>ヒューマンアカデミーロボット教室</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row">2020~</th>
                <td>大阪大学 学内システム開発 インターン</td>
                <td>-</td>
            </tr>
            <tr>
                <th scope="row">2022~</th>
                <td>PLEN Robotics ソフトウェアエンジニア インターン</td>
                <td><a href="https://plenrobotics.com/">link</a></td>
            </tr>
        </tbody>
    </table>
</div>