<div class="home">
    <div id="container">
        <main>
            <div class="c2">
                <div class="main">
                    <h2 translate>acheivement</h2>
                    <h2>FY2020</h2>
                    <h3>関西春ロボコン2021</h3>
                    <img src="assets/img/kansai_harurobo2021.jpg" alt="関西春ロボコン2021" width="20%" height="20%" style="margin-bottom: 10px;" />
                    <p>関西春ロボコン2021にRobohanとして出場した際の機体。 <br>
                        私は機体の制御の一部、デバッグを担当した。
                    </p>
                    <h2>FY2021</h2>
                    <h3>ごちゃまぜロボットコンテスト交流会</h3>
                    <img src="assets/img/gocharobo.jpg" alt="ごちゃロボ" width="30%" height="30%" style="margin-bottom: 10px;" /><br>
                    <a href="https://scramble-robocon-meetup.connpass.com/event/218937/">開催URL</a>
                    <p>一般社団法人次世代ロボットエンジニア支援機構主催のロボコン関係者交流会であるごちゃまぜロボットコンテスト交流会にて  <br>
                        「STM32F7にUDP通信を実装する」というタイトルで回路・制御セッションの発表を行った。
                    </p>
                    <h3>大阪大学 令和3年度「学部学生による自主研究奨励事業」</h3>
                    <img src="assets/img/jisyuken.JPG" alt="自主研究" width="30%" height="30%" style="margin-bottom: 10px;" /><br>
                    <a href="https://www.osaka-u.ac.jp/ja/education/ug_jishuken">自主研究奨励事業について</a>
                    <p>大阪大学の学部学生による自主研究奨励事業にて、「一般への普及を目的とした自動走行システムの開発」というテーマで同期と協力して研究に取り組んだ。<br>
                        この研究では、オムニホイールを搭載した移動ロボットにおいて自律走行を実現するパッケージを用いて、自動走行システムの開発を行った。<br>
                        更に、誰でも使いやすいようにWebアプリケーションを用いて操作できるようにした。<br>
                        私はROSを用いた自動走行システムの開発、WebUI、マイコンのプログラム、通信部分の開発・実装を担当した。
                    </p>
                    <h3>Robohan Advent Calendar 2021</h3>
                    <img src="assets/img/advent-calendar.png" alt="advent" width="30%" height="30%" style="margin-bottom: 10px;" /><br>
                    <a href="https://qiita.com/advent-calendar/2021/robohan">Robohan advent calendar 2021</a>
                    <p>Qiitaにて、Robohan Advent Calendarを開催し、技術記事を1週間連続で執筆した。
                    </p>
                    <h2>FY2022</h2>
                    <h3>大学共通システムの開発</h3>
                    <p>大学生協のシステム開発アルバイトにて、複数大学共通で使われるWebシステムのフロントエンド開発を担当した。 <br>
                        Angularというフレームワークを用いて開発した。 <br>
                        また、別のシステムでは、バックエンドの開発も担当した。Django Rest Frameworkを用いて開発した。
                    </p>
                    <h3>NHK学生ロボコン2022</h3>
                    <img src="assets/img/NHK-R1.png" alt="NHK-R1" width="30%" height="30%" style="margin-bottom: 10px;" />
                    <img src="assets/img/NHK-R2.png" alt="NHK-R2" width="40%" height="40%" style="margin-left: 30px;" />
                    <p>大阪大学の学生団体Robohanとして、NHK学生ロボコン2022出場に向けて活動した。 <br>
                        私は制御班のリーダーとして、2つのロボットのROSとマイコンの制御を担当した。
                    </p>
                    <h3>技育博</h3>
                    <img src="assets/img/giikuhaku-robot.jpg" alt="giikuhaku1" width="25%" height="25%" style="margin-bottom: 10px;" />
                    <img src="assets/img/giikuhaku2.png" alt="giikuhaku2" width="18%" height="18%" style="margin-left: 30px;margin-bottom: 10px;" /><br>
                    <p>大阪大学の学生団体Robohanとして技育博2022に出展した。 <br>
                        私は小型自律移動ロボットを作成し、展示を行った。 <br>
                    </p>
                    <h3>自作ロボット</h3>
                    <img src="assets/img/custom-robot.jpg" alt="custom" width="40%" height="40%" style="margin-bottom: 10px;" /><br>
                    <p>自律移動ロボットの勉強用に小型ロボットを自作した。<br>
                        マイコンにNUCLEO-F767ZI, SBCにRaspberry Pi4を用いた。<br>
                        また、ファームウェアは
                        <a href="https://github.com/TatsukiNishimura/myRobot-firmware">こちら</a>
                        ROSのプログラムは
                        <a href="https://github.com/TatsukiNishimura/myrobot-ROS1">こちら</a>
                        に公開している。
                    </p>
                    <h3>自作拡張機能</h3>
                    <img src="assets/img/extension.png" alt="extension" width="40%" height="40%" style="margin-bottom: 10px;" /><br>
                    <p>大学の学習システムであるCLEが更新に伴い課題欄が消えてしまったため、課題欄を表示する拡張機能を自作した。 <br>
                        ネット上に公開し、実際に役に立ったとの声を数人から頂いた。<br>
                    <a href="https://github.com/TatsukiNishimura/add-assignmentList-extension">GitHub</a> <br>
                    <a href="https://qiita.com/hbvcg00/items/12210937fc83aa2aca47">Qiita</a>
                    </p>
                    <h2>FY2023</h2>
                    卒論
                </div>
            </div>
        </main>
    </div>
</div>
<div style="margin-bottom: 300px;"></div>